{% extends "mainpage/base.html" %}
{% load static %}

{% block content %}
<section style="background-color: #535c68;">
    <br> <br>

    {% if messages %}
    <div>
        <br> </br>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <span>{{ form.non_field_errors }}</span>
    </div>
    {% endif %}

    <div class="container pt-5">
        <div class="mx-auto card login-form" style="width: 450px">
            <div class="color-change">
            <div class="card-body">
                <form method="post" class="form-signin">
                    {% csrf_token %}
                    <img class="mb-4 mx-auto d-block logo" src="{% static 'img/logomak_logo.png' %}" alt="Logo" width="90"
                        height="90">

                    <h3 id="mid" class="text-center">Reset password</h3>
                    <br>
                    <div class="form-group">
                        <div class="text-center">
                            <label for="email">Email:</label>
                            {{ form.email }}
                            <span>{{form.errors.email}}</span>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <br> <br>
    </div>
</section>
{% endblock %}