{% autoescape off %}
<br> <br>
<body>
    <p>Hi {{ user.email }},</p>
    <p>You have requested a password reset for your account. Click on the following link to set a new password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
            Password Reset Link
        </a>
    </p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Our Team</p>
    <br> <br>
{% endautoescape %}